# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

Grab every letter in string

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'word']

In [7]:
mylist

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [11]:
mylist = [num for num in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# Square numbers in range and turn into list
mylist = [num**2 for num in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in <code>if</code> statements:

In [15]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [16]:
mylist

[0, 2, 4, 6, 8, 10]

In [17]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

## Example 4
Can also do more complicated arithmetic:

In [5]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [6]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [10]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [11]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [12]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [13]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [14]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [15]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]