# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff
## Example 1
Iterating through a list

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jelly in mylist:
    print(num)

10
10
10
10
10
10
10
10
10
10

In [5]:
for num in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Example 2
Let's print only the even numbers from that list!

In [11]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

Let's print both even and odd numbers from that list!

In [10]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

## Example 3
Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:

In [13]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

It gives only the last sum

## Example 4
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [15]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

## Example 5
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [17]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

## Example 6
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [21]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [22]:
len(mylist)

4

In [23]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [27]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [29]:
for a,b in mylist:
    print(a)

1
3
5
7

In [26]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [30]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [31]:
for a,b,c in mylist:
    print(b)

2
6
9

## Example 7

In [54]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We have read the three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary â€“ it is only a view. Let's see it in action:

In [55]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [56]:
d = {'k1':1,'k2':2,'k3':3}

for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [58]:
d = {'k1':1,'k2':2,'k3':3}

for key in d.keys():
    print(key)

k1
k2
k3

In [59]:
d.values()

dict_values([1, 2, 3])

In [60]:
d = {'k1':1,'k2':2,'k3':3}

for values in d.values():
    print(values)

1
2
3