# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
myset = set()

In [2]:
myset

set()

In [21]:
# We add to sets with the add() method
myset.add(1)

In [6]:
myset

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [22]:
# Add a different element
myset.add(2)

In [8]:
myset

{1, 2}

In [23]:
# Try to add the same element
myset.add(2)

In [11]:
myset

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [24]:
# Create a list with repeats
mylist = [1,1,1,1,2,2,2,2,3,3,3]

In [25]:
# Cast as set to get unique values
set(mylist)

{1, 2, 3}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [26]:
# Set object to be a boolean
a = True

In [29]:
a

True

In [30]:
b = False

In [31]:
b

False

In [28]:
type(a)

bool

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [32]:
# Output is boolean
1 > 2

False

In [18]:
1 == 1

True

We can use None as a placeholder for an object that we don't want to reassign yet:

In [19]:
b = None

In [20]:
b